<div class="wrap">
    <h1>General Settings</h1>
    <form method="post">
        <table class="form-table">
            <tr valign="top">
                <th scope="row">
                    <label for="esatisfaction_application_id">Application Id</label>
                </th>
                <td>
                    <input id="esatisfaction_application_id" type="text" name="esatisfaction[application_id]" class="regular-text" value="%{application_id}" required/>
                </td>
            </tr>
        </table>
        %{button_submit}
    </form>
    <h1>Checkout Questionnaire Settings</h1>
    <form method="post">
        <table class="form-table">
            <tr valign="top">
                <th scope="row">
                    <label for="esatisfaction_checkout_questionnaire_id">Questionnaire Id</label>
                </th>
                <td>
                    <input id="esatisfaction_checkout_questionnaire_id" type="text" name="esatisfaction[checkout_questionnaire_id]" class="regular-text" value="%{checkout_questionnaire_id}" required/>
                    <p class="description" id="esatisfaction_checkout_questionnaire_id-description">Checkout questionnaire will be embedded in a container with a fixed id. Go to your e-satisfaction Dashboard and set the position to the following:</p>
                    <p>
                        <span>Checkout Questionnaire element id:</span>
                        <code>#esatisfaction-checkout-questionnaire-container</code>
                    </p>
                </td>
            </tr>
        </table>
        %{button_submit}
    </form>
</div>
